@import "../base/settings";
@import "../base/mixins";
/* For home page */
@import "../base/slider-arrow";
@import "../modules/main-slider";
@import "../modules/inst-carousel";
@import "../modules/bestsellers-full";
@import "../modules/accordion-card";
@import "../modules/prompt";
@import "../modules/subscription";

@media (min-width: 768px) {
  .see-all {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  .see-all__icon {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    transform: rotate(180deg);
  }
}

@media (max-width: 767px) {
  .see-all {
    text-align: center;
  }
  .see-all__btn {
    width: 66.6666%;

    &:hover {
      text-decoration: none;
    }

    &:active {
      border-color: $red;
      color: $red;
    }
  }
}

.wine-bestsellers {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .wine-bestsellers {
    margin-bottom: 60px;
  }
}
