.basket-edit__btn {
    margin-bottom: 30px;
    height: 70px;
    background-color: #5F1129;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-in-out;
}

.basket-edit__btn:hover {
    opacity: .95;
    color: #fff;
    text-decoration: none;
}

.basket-input,
.basket-input__percent,
.basket-date,
.basket-date__year {
    height: 25px;
    text-align: center;
    display: inline-flex;
}

.basket-input {
    max-width: 100px;
    margin-right: 7px;
}

.basket-input__percent {
    max-width: 50px;
    margin-right: 7px;
    margin-left: 10px;
}

.basket-date {
    max-width: 60px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.basket-date__year {
    max-width: 70px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.basket-offer-end {
    padding-top: 26px;
    padding-bottom: 22px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.basket-control {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.basket-control__copy {
    padding-left: 30px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.basket-control__copy--input {
    width: 508px;
    height: 38px;
}

.basket-control__copy--btn {
    margin-left: -15px;
    flex-shrink: 0;
    min-width: 122px;
    height: 40px;
}
